@use '@renderer/styles/libs/functions/index' as *;

.wrapper {
  margin: 30px;
  height: 900px;
  background: #ffffff;
}

.noteTitle {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
  text-align: center;
}
